* {
  padding: 0;
  margin: 0;
  border: 0;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(../assets/fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(../assets/fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Regular";
  src: url(../assets/fonts/Inter/static/Inter-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Medium";
  src: url(../assets/fonts/Inter/static/Inter-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url(../assets/fonts/Inter/static/Inter-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Bold";
  src: url(../assets/fonts/Inter/static/Inter-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter-ExtraBold";
  src: url(../assets/fonts/Inter/static/Inter-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}
.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  overflow-x: hidden;
}

#header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.1803921569);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.nav__list--item-link {
  font-size: 16px;
  font-family: "Inter-Medium", sans-serif;
  color: #12141D;
  text-transform: none;
}
.nav__list--item .btn {
  padding: 16px 55px;
  background-color: #111E52;
  color: #ffffff;
  border-radius: 8px;
}

#intro {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.76%, #E9E9F9), to(rgba(225, 226, 255, 0))), #FFFFFF;
  background: linear-gradient(0deg, #E9E9F9 0.76%, rgba(225, 226, 255, 0) 100%), #FFFFFF;
  min-height: 837px;
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
  padding-top: 100px;
}
.wrapper img {
  position: absolute;
  z-index: 2;
  top: 190px;
  right: 0;
}
.wrapper .right {
  min-width: 638px;
  min-height: 575.84px;
  background: linear-gradient(148.79deg, #f82c2c 12.9%, #ec874e 29.15%, #e78b20 41.54%, #6c3df4 54.7%, #ff2633 70.18%, #ff1818 87.21%);
  -webkit-filter: blur(70px);
          filter: blur(70px);
  border-radius: 250px 280px 300px 100px;
  position: relative;
  top: 90px;
  right: 70px;
}
.wrapper .left {
  min-width: 55%;
}
.wrapper .left h1 {
  font-size: 72px;
  font-family: "Inter-Medium", sans-serif;
  color: #12141D;
  text-transform: none;
  line-height: 88px;
}
.wrapper .left h1 span {
  color: #FFC947;
}
.wrapper .left p {
  font-size: 20px;
  font-family: "Inter-Regular", sans-serif;
  color: #12141D;
  text-transform: none;
  line-height: 32px;
  max-width: 636px;
  letter-spacing: -0.5px;
}
.wrapper .left button {
  font-size: 18px;
  font-family: "Inter-SemiBold", sans-serif;
  color: #12141D;
  text-transform: none;
  background-color: #FFC947;
  width: 369px;
  height: 64px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
}

.bx-arrow-back {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 24px;
}

.modal-window {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3137254902);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  overflow: hidden;
}
.modal-window__content {
  width: 456px;
  height: 649px;
  background: #FFFFFF;
  border: 1px solid #EEEFF1;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 32px;
}
.modal-window__content-header {
  font-size: 30px;
  font-family: "Inter-SemiBold", sans-serif;
  color: #12141D;
  text-transform: none;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal-window__content-categories {
  font-size: 16px;
  font-family: "Roboto-Medium", sans-serif;
  color: #12141D;
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}
.modal-window__content-btn {
  background-color: transparent;
  width: 196px;
  height: 48px;
  border-bottom: 2px solid silver;
}

.bx-x {
  cursor: pointer;
}

.modal-window__content-item {
  display: none;
  margin-top: 32px;
}
.modal-window__content-item form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.modal-window__content-item label {
  font-size: 14px;
  font-family: "Roboto-Regular", sans-serif;
  color: #12141D;
  text-transform: none;
}
.modal-window__content-item label p {
  margin-bottom: 8px;
}
.modal-window__content-item label input {
  width: 100%;
}
.modal-window__content-item label .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 1px solid silver;
  border-radius: 8px;
  padding: 14px 12px;
}
.modal-window__content-item button {
  padding: 12px 0;
  border-radius: 6px;
  background-color: #2F80ED;
  font-size: 16px;
  font-family: "Roboto-Medium", sans-serif;
  color: #ffffff;
  text-transform: none;
}
.modal-window__content-item .btn-color {
  background-color: #4327BA;
}
.modal-window__content-item .form-or {
  text-align: center;
  font-size: 14px;
  font-family: "Inter-Medium", sans-serif;
  color: #12141D;
  text-transform: none;
  position: relative;
}
.modal-window__content-item .form-or::before {
  content: "";
  width: 80px;
  height: 1px;
  background-color: silver;
  position: absolute;
  left: 22%;
  top: 50%;
}
.modal-window__content-item .form-or::after {
  content: "";
  width: 80px;
  height: 1px;
  background-color: silver;
  position: absolute;
  right: 22%;
  top: 50%;
}

.pass-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
}

.active {
  display: block;
  color: #2F80ED;
  border-bottom-color: #2F80ED;
}

#preferences {
  width: 100%;
  min-height: 770px;
}

.preferences-wrapper {
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 72px;
}

.preferences__title {
  font-size: 56px;
  font-family: "Inter-Medium", sans-serif;
  color: #12141D;
  text-transform: none;
  line-height: 72px;
  max-width: 978px;
  text-align: center;
}
.preferences__card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.preferences__card--item {
  background-color: #F9F9FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  padding: 32px 30px 54px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.preferences__card--item:hover {
  -webkit-box-shadow: 0 0 12px silver;
          box-shadow: 0 0 12px silver;
}
.preferences__card--item-title {
  font-size: 24px;
  font-family: "Inter-Medium", sans-serif;
  color: #12141D;
  text-transform: none;
}
.preferences__card--item-text {
  width: 356px;
  font-size: 18px;
  font-family: "Inter-Regular", sans-serif;
  color: #12141D;
  text-transform: none;
  text-align: center;
  line-height: 28px;
}

#instruction {
  width: 100%;
  min-height: 920px;
}

.instruction-wrapper {
  padding-bottom: 120px;
}

.instruction__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 56px;
}
.instruction__header--title {
  font-size: 56px;
  font-family: "Inter-Medium", sans-serif;
  color: #12141D;
  text-transform: none;
  line-height: 72px;
  width: 637px;
}
.instruction__header--text {
  font-size: 18px;
  font-family: "Inter-Regular", sans-serif;
  color: #12141D;
  text-transform: none;
  line-height: 28px;
  width: 569px;
}

#application {
  width: 100%;
  min-height: 632px;
  background-color: #EEEFF1;
}

.application-wrapper {
  padding-top: 72px;
}

.application__title {
  font-size: 56px;
  font-family: "Inter-Medium", sans-serif;
  color: #12141D;
  text-transform: none;
  line-height: 72px;
  max-width: 856px;
}
.application__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 130px;
  padding-left: 20px;
  position: relative;
  overflow: hidden;
}
.application__card--item::before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: silver;
  position: absolute;
  top: 8%;
  right: 32%;
  z-index: 1;
}
.application__card--item-number {
  font-size: 40px;
  font-family: "Inter-Medium", sans-serif;
  color: #ffffff;
  text-transform: none;
  line-height: 48.41px;
  background-color: #212121;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  text-align: center;
  position: relative;
  z-index: 22;
}
.application__card--item-title {
  font-size: 24px;
  font-family: "Inter-SemiBold", sans-serif;
  color: #12141D;
  text-transform: none;
  line-height: 32px;
  max-width: 303px;
  margin-top: 32px;
  margin-bottom: 42px;
}
.application__card--item-text {
  font-size: 16px;
  font-family: "Inter-Regular", sans-serif;
  color: #12141D;
  text-transform: none;
  line-height: 24px;
  max-width: 303px;
}

#statistics {
  width: 100%;
  min-height: 1253px;
}

.statistics-wrapper {
  padding: 126px 0 56px;
}

.statistics__title {
  font-size: 56px;
  font-family: "Inter-Medium", sans-serif;
  color: #12141D;
  text-transform: none;
  line-height: 72px;
  max-width: 1040px;
}
.statistics__search {
  background-color: #EEEFF1;
  border-radius: 4px;
  padding: 24px;
}
.statistics__search--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-family: "Inter-Medium", sans-serif;
  color: #12141D;
  text-transform: none;
  line-height: 24px;
  margin-bottom: 16px;
}
.statistics__search--header-red {
  font-size: 14px;
  font-family: "Inter-Regular", sans-serif;
  color: #FF162E;
  text-transform: none;
}
.statistics__search--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.statistics__search--content select {
  width: 495px;
  border: 1px solid silver;
  padding: 14px 12px;
  border-radius: 4px;
}
.statistics__search--content button {
  width: 226px;
  font-size: 14px;
  font-family: "Inter-Medium", sans-serif;
  color: #ffffff;
  text-transform: none;
  background-color: #2F80ED;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.statistics__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 42px;
}
.statistics__result--header {
  font-size: 16px;
  font-family: "Inter-SemiBold", sans-serif;
  color: #12141D;
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EEEFF1;
}
.statistics__result--header-name {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  min-height: 120px;
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.statistics__result--header-code {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.statistics__result--header-age {
  -ms-flex-preferred-size: 4%;
      flex-basis: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.statistics__result--info {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}
.statistics__result--info-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 21px 0;
}
.statistics__result--info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.statistics__result--info-first, .statistics__result--info-second {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 21px 0;
  text-align: center;
}
.statistics__result--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.statistics__result--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.statistics__result--item h3, .statistics__result--item div {
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-family: "Roboto-Regular", sans-serif;
  color: #12141D;
  text-transform: none;
}
.statistics__result--item-address {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  min-height: 54px;
}
.statistics__result--item-func {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  color: #2F80ED !important;
  cursor: pointer;
}
.statistics__result--item-func span {
  margin-right: 10px;
}
.statistics__result--item-age {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
}
.statistics__result--item-name {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}
.statistics__result--item-surname {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}
.statistics__result--item-prof {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  color: #2F80ED !important;
}
.statistics__result--item-prof span {
  padding: 4px 8px;
  background-color: #E6F7FF;
  border-radius: 5px;
  margin-left: 5px;
}
.statistics__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 64px;
}
.statistics__pagination span {
  border: 1px solid #2F80ED;
  width: 32px;
  height: 32px;
  margin: 0 8px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.statistics__pagination i {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.statistics__telegram {
  background: linear-gradient(94.25deg, #2B59FF 0%, #BB2BFF 100%);
  border-radius: 10px;
  min-height: 147px;
  padding: 0 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 184px;
}
.statistics__telegram--title {
  font-size: 32px;
  font-family: "Inter-Regular", sans-serif;
  color: #ffffff;
  text-transform: none;
  max-width: 555px;
  line-height: 40px;
}
.statistics__telegram--btn {
  font-size: 18px;
  font-family: "Roboto-Medium", sans-serif;
  color: #ffffff;
  text-transform: none;
  background-color: transparent;
  padding: 16px 32px;
  border-radius: 8px;
  border: 1px solid #ffffff;
}
.statistics__telegram--btn i {
  margin-right: 5px;
  font-size: 22px;
}

.bx-sync {
  font-size: 25px;
  margin-right: 8px;
}

#news {
  width: 100%;
}

.news-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__title {
  font-size: 56px;
  font-family: "Inter-Medium", sans-serif;
  color: #12141D;
  text-transform: none;
  max-width: 625px;
  line-height: 72px;
}
.news__card {
  position: relative;
}
.news__card--item {
  max-width: 416px;
  min-height: 420px;
}
.news__card--item-img {
  width: 100%;
}
.news__card--item-date {
  font-size: 14px;
  font-family: "Inter-Regular", sans-serif;
  color: #12141D;
  text-transform: none;
  line-height: 22px;
  margin-top: 24px;
  margin-bottom: 16px;
}
.news__card--item-title {
  font-size: 24px;
  font-family: "Inter-SemiBold", sans-serif;
  color: #12141D;
  text-transform: none;
  line-height: 32px;
  max-width: 416px;
}

.news__card .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
}

/* arrows */
.news__card .slick-arrow {
  position: absolute;
  top: 35%;
  z-index: 10;
  font-size: 0;
  width: 48px;
  height: 48px;
}

.news__card .slick-arrow.slick-prev {
  left: 0%;
  background-image: url("../assets/icons/left.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #EEEFF1;
  border-radius: 50px;
  cursor: pointer;
}

.news__card .slick-arrow.slick-next {
  right: 0%;
  background-image: url("../assets/icons/right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #EEEFF1;
  border-radius: 50px;
  cursor: pointer;
}

#arguments {
  min-height: 868px;
  width: 100%;
}

.arguments-wrapper {
  padding: 120px 0 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.arguments__card--img {
  width: 100%;
}
.arguments__card--title {
  font-size: 24px;
  font-family: "Roboto-Medium", sans-serif;
  color: #12141D;
  text-transform: none;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 16px;
}
.arguments__card--text {
  font-size: 16px;
  font-family: "Inter-Regular", sans-serif;
  color: #12141D;
  text-transform: none;
  max-width: 303px;
  text-align: center;
  margin: 0 auto;
}
.arguments__card--btn {
  font-size: 16px;
  font-family: "Inter-Regular", sans-serif;
  color: #2F80ED;
  text-transform: none;
  background-color: transparent;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

#footer {
  min-height: 372px;
  width: 100%;
  background-color: #313131;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 96px;
  padding-top: 64px;
}

.footer__header {
  font-size: 14px;
  font-family: "Roboto-Regular", sans-serif;
  color: #ffffff;
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.footer__header::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: silver;
  position: absolute;
  top: 135%;
  left: 0;
}
.footer__header--item img {
  margin-bottom: 32px;
}
.footer__header--item p {
  max-width: 416px;
  line-height: 20px;
}
.footer__header--item h1 {
  font-size: 18px;
  font-family: "Roboto-Medium", sans-serif;
  color: #ffffff;
  text-transform: none;
  margin-bottom: 24px;
}
.footer__header--item ul {
  min-height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__header--item li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__header--item i {
  font-size: 24px;
  margin-right: 5px;
}
.footer__bottom {
  font-size: 14px;
  font-family: "Roboto-Regular", sans-serif;
  color: #ffffff;
  text-transform: none;
}

#news-page {
  width: 100%;
  padding-top: 90px;
}

.news-page-body {
  background-color: #F2F3F7;
}

.news-page-wrapper {
  padding-top: 32px;
}

.news-page__header {
  font-size: 16px;
  font-family: "Inter-Medium", sans-serif;
  color: #12141D;
  text-transform: none;
  margin-bottom: 32px;
}
.news-page__header a {
  color: #12141D;
}
.news-page__content {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 64px 0 40px 222px;
  margin-bottom: 182px;
}
.news-page__content--title {
  font-size: 38px;
  font-family: "Roboto-Medium", sans-serif;
  color: #12141D;
  text-transform: none;
  line-height: 46px;
  max-width: 852px;
}
.news-page__content--date {
  font-size: 14px;
  font-family: "Roboto-Regular", sans-serif;
  color: #12141D;
  text-transform: none;
  line-height: 20px;
  margin-bottom: 32px;
}
.news-page__content--subtitle {
  font-size: 30px;
  font-family: "Inter-SemiBold", sans-serif;
  color: #12141D;
  text-transform: none;
  line-height: 40px;
  margin-top: 48px;
  margin-bottom: 32px;
}
.news-page__content--text {
  font-size: 20px;
  font-family: "Inter-Regular", sans-serif;
  color: #12141D;
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
  max-width: 856px;
}
.news-page__content--footer {
  margin-top: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news-page__content--footer-right {
  margin-right: 150px;
}
.news-page__content--footer .bxl-telegram {
  color: #419FD9;
  font-size: 16px;
  cursor: pointer;
}
.news-page__content--footer .bxl-instagram-alt {
  color: #B62A99;
  font-size: 16px;
  cursor: pointer;
}
.news-page__content--footer .bxl-facebook {
  color: #4267B2;
  font-size: 16px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */