


@font-face {
    font-family: $ff-RobotoRegular;
    src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: $ff-RobotoMedium;
    src: url(../assets/fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: $ff-RobotoBold;
    src: url(../assets/fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: $ff-InterRegular;
    src: url(../assets/fonts/Inter/static/Inter-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: $ff-InterMedium;
    src: url(../assets/fonts/Inter/static/Inter-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: $ff-InterSemiBold;
    src: url(../assets/fonts/Inter/static/Inter-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: $ff-InterBold;
    src: url(../assets/fonts/Inter/static/Inter-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: $ff-InterExtraBold;
    src: url(../assets/fonts/Inter/static/Inter-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}




