
$color-white: #ffffff;
$color-black: #212121;
$color-text-header:#12141D;
$color-btn-header: #111E52;
$color-btn-intro: #FFC947;
$color-blue: #2F80ED;
$color-btn-bg: #4327BA;
$color-application-bg:#EEEFF1;



$ff-RobotoRegular: 'Roboto-Regular';
$ff-RobotoMedium: 'Roboto-Medium';
$ff-RobotoBold: 'Roboto-Bold';


$ff-InterRegular: 'Inter-Regular';
$ff-InterMedium: 'Inter-Medium';
$ff-InterSemiBold: 'Inter-SemiBold';
$ff-InterBold: 'Inter-Bold';
$ff-InterExtraBold: 'Inter-ExtraBold';
