
#news-page{
    width: 100%;
    padding-top: 90px;
}

.news-page-body{
    background-color: #F2F3F7;
}

.news-page-wrapper{
    
    padding-top: 32px;
}

.news-page{
    &__header{
        @include font-style(16px, $ff-InterMedium, $color-text-header);
        margin-bottom: 32px;
        a{
            color: $color-text-header;
        }
    }
    &__content{
        background-color: $color-white;
        border-radius: 8px;
        padding: 64px 0 40px 222px;
        margin-bottom: 182px;
        &--title{
            @include font-style(38px, $ff-RobotoMedium, $color-text-header);
            line-height: 46px;
            max-width: 852px;
        }
        &--date{
            @include font-style(14px, $ff-RobotoRegular, $color-text-header);
            line-height: 20px;
            margin-bottom: 32px;
        }
        &--img{
           
        }
        &--subtitle{
            @include font-style(30px, $ff-InterSemiBold, $color-text-header);
            line-height: 40px;
            margin-top: 48px;
            margin-bottom: 32px;
        }
        &--text{
            @include font-style(20px, $ff-InterRegular, $color-text-header);
            display: flex;
            flex-direction: column;
            gap: 28px;
            max-width: 856px;
        }
        &--footer{
            margin-top: 88px;
            display: flex;
            justify-content: space-between;
            &-right{
                margin-right: 150px;
            }

            .bxl-telegram{
                color: #419FD9;
                font-size: 16px;
                cursor: pointer;
            }
            .bxl-instagram-alt{
                color: #B62A99;
                font-size: 16px;
                cursor: pointer;
            }
            .bxl-facebook{
                color: #4267B2;
                font-size: 16px;
                cursor: pointer;
            }
        }
    }
}

